#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Command line
local.properties
build.xml
proguard-project.txt
library/build/bundles/debug/AndroidManifest.xml
library/build/bundles/debug/R.txt
library/build/bundles/release/AndroidManifest.xml
library/build/bundles/release/R.txt
library/build/bundles/release/classes.jar
library/build/bundles/release/res/color/vpi__dark_theme.xml
library/build/bundles/release/res/color/vpi__light_theme.xml
library/build/bundles/release/res/drawable-hdpi/vpi__tab_selected_focused_holo.9.png
library/build/bundles/release/res/drawable-hdpi/vpi__tab_selected_holo.9.png
library/build/bundles/release/res/drawable-hdpi/vpi__tab_selected_pressed_holo.9.png
library/build/bundles/release/res/drawable-hdpi/vpi__tab_unselected_focused_holo.9.png
library/build/bundles/release/res/drawable-hdpi/vpi__tab_unselected_holo.9.png
library/build/bundles/release/res/drawable-hdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/bundles/release/res/drawable-mdpi/vpi__tab_selected_focused_holo.9.png
library/build/bundles/release/res/drawable-mdpi/vpi__tab_selected_holo.9.png
library/build/bundles/release/res/drawable-mdpi/vpi__tab_selected_pressed_holo.9.png
library/build/bundles/release/res/drawable-mdpi/vpi__tab_unselected_focused_holo.9.png
library/build/bundles/release/res/drawable-mdpi/vpi__tab_unselected_holo.9.png
library/build/bundles/release/res/drawable-mdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/bundles/release/res/drawable-xhdpi/vpi__tab_selected_focused_holo.9.png
library/build/bundles/release/res/drawable-xhdpi/vpi__tab_selected_holo.9.png
library/build/bundles/release/res/drawable-xhdpi/vpi__tab_selected_pressed_holo.9.png
library/build/bundles/release/res/drawable-xhdpi/vpi__tab_unselected_focused_holo.9.png
library/build/bundles/release/res/drawable-xhdpi/vpi__tab_unselected_holo.9.png
library/build/bundles/release/res/drawable-xhdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/bundles/release/res/drawable/vpi__tab_indicator.xml
library/build/bundles/release/res/values/values.xml
library/build/incremental/aidl/debug/dependency.store
library/build/incremental/aidl/release/dependency.store
library/build/incremental/mergeAssets/debug/merger.xml
library/build/incremental/mergeAssets/release/merger.xml
library/build/incremental/mergeResources/debug/merger.xml
library/build/incremental/mergeResources/release/merger.xml
library/build/incremental/packageResources/release/merger.xml
library/build/javaResources/release/color/vpi__dark_theme.xml
library/build/javaResources/release/color/vpi__light_theme.xml
library/build/javaResources/release/drawable-hdpi/vpi__tab_selected_focused_holo.9.png
library/build/javaResources/release/drawable-hdpi/vpi__tab_selected_holo.9.png
library/build/javaResources/release/drawable-hdpi/vpi__tab_selected_pressed_holo.9.png
library/build/javaResources/release/drawable-hdpi/vpi__tab_unselected_focused_holo.9.png
library/build/javaResources/release/drawable-hdpi/vpi__tab_unselected_holo.9.png
library/build/javaResources/release/drawable-hdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/javaResources/release/drawable-mdpi/vpi__tab_selected_focused_holo.9.png
library/build/javaResources/release/drawable-mdpi/vpi__tab_selected_holo.9.png
library/build/javaResources/release/drawable-mdpi/vpi__tab_selected_pressed_holo.9.png
library/build/javaResources/release/drawable-mdpi/vpi__tab_unselected_focused_holo.9.png
library/build/javaResources/release/drawable-mdpi/vpi__tab_unselected_holo.9.png
library/build/javaResources/release/drawable-mdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/javaResources/release/drawable-xhdpi/vpi__tab_selected_focused_holo.9.png
library/build/javaResources/release/drawable-xhdpi/vpi__tab_selected_holo.9.png
library/build/javaResources/release/drawable-xhdpi/vpi__tab_selected_pressed_holo.9.png
library/build/javaResources/release/drawable-xhdpi/vpi__tab_unselected_focused_holo.9.png
library/build/javaResources/release/drawable-xhdpi/vpi__tab_unselected_holo.9.png
library/build/javaResources/release/drawable-xhdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/javaResources/release/drawable/vpi__tab_indicator.xml
library/build/javaResources/release/values/vpi__attrs.xml
library/build/javaResources/release/values/vpi__colors.xml
library/build/javaResources/release/values/vpi__defaults.xml
library/build/javaResources/release/values/vpi__styles.xml
library/build/libs/library-debug.ap_
library/build/libs/library-release.ap_
library/build/libs/library.aar
library/build/res/all/debug/color/vpi__dark_theme.xml
library/build/res/all/debug/color/vpi__light_theme.xml
library/build/res/all/debug/drawable-hdpi/vpi__tab_selected_focused_holo.9.png
library/build/res/all/debug/drawable-hdpi/vpi__tab_selected_holo.9.png
library/build/res/all/debug/drawable-hdpi/vpi__tab_selected_pressed_holo.9.png
library/build/res/all/debug/drawable-hdpi/vpi__tab_unselected_focused_holo.9.png
library/build/res/all/debug/drawable-hdpi/vpi__tab_unselected_holo.9.png
library/build/res/all/debug/drawable-hdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/res/all/debug/drawable-mdpi/vpi__tab_selected_focused_holo.9.png
library/build/res/all/debug/drawable-mdpi/vpi__tab_selected_holo.9.png
library/build/res/all/debug/drawable-mdpi/vpi__tab_selected_pressed_holo.9.png
library/build/res/all/debug/drawable-mdpi/vpi__tab_unselected_focused_holo.9.png
library/build/res/all/debug/drawable-mdpi/vpi__tab_unselected_holo.9.png
library/build/res/all/debug/drawable-mdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/res/all/debug/drawable-xhdpi/vpi__tab_selected_focused_holo.9.png
library/build/res/all/debug/drawable-xhdpi/vpi__tab_selected_holo.9.png
library/build/res/all/debug/drawable-xhdpi/vpi__tab_selected_pressed_holo.9.png
library/build/res/all/debug/drawable-xhdpi/vpi__tab_unselected_focused_holo.9.png
library/build/res/all/debug/drawable-xhdpi/vpi__tab_unselected_holo.9.png
library/build/res/all/debug/drawable-xhdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/res/all/debug/drawable/vpi__tab_indicator.xml
library/build/res/all/debug/values/values.xml
library/build/res/all/release/color/vpi__dark_theme.xml
library/build/res/all/release/color/vpi__light_theme.xml
library/build/res/all/release/drawable-hdpi/vpi__tab_selected_focused_holo.9.png
library/build/res/all/release/drawable-hdpi/vpi__tab_selected_holo.9.png
library/build/res/all/release/drawable-hdpi/vpi__tab_selected_pressed_holo.9.png
library/build/res/all/release/drawable-hdpi/vpi__tab_unselected_focused_holo.9.png
library/build/res/all/release/drawable-hdpi/vpi__tab_unselected_holo.9.png
library/build/res/all/release/drawable-hdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/res/all/release/drawable-mdpi/vpi__tab_selected_focused_holo.9.png
library/build/res/all/release/drawable-mdpi/vpi__tab_selected_holo.9.png
library/build/res/all/release/drawable-mdpi/vpi__tab_selected_pressed_holo.9.png
library/build/res/all/release/drawable-mdpi/vpi__tab_unselected_focused_holo.9.png
library/build/res/all/release/drawable-mdpi/vpi__tab_unselected_holo.9.png
library/build/res/all/release/drawable-mdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/res/all/release/drawable-xhdpi/vpi__tab_selected_focused_holo.9.png
library/build/res/all/release/drawable-xhdpi/vpi__tab_selected_holo.9.png
library/build/res/all/release/drawable-xhdpi/vpi__tab_selected_pressed_holo.9.png
library/build/res/all/release/drawable-xhdpi/vpi__tab_unselected_focused_holo.9.png
library/build/res/all/release/drawable-xhdpi/vpi__tab_unselected_holo.9.png
library/build/res/all/release/drawable-xhdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/res/all/release/drawable/vpi__tab_indicator.xml
library/build/res/all/release/values/values.xml
library/build/source/buildConfig/debug/com/viewpagerindicator/BuildConfig.java
library/build/source/buildConfig/release/com/viewpagerindicator/BuildConfig.java
library/build/source/r/debug/com/viewpagerindicator/R.java
library/build/source/r/release/com/viewpagerindicator/R.java
library/build/tmp/packageReleaseJar/MANIFEST.MF
library/build/generated/source/buildConfig/release/com/viewpagerindicator/BuildConfig.java
library/build/generated/source/r/release/com/viewpagerindicator/R.java
library/build/intermediates/bundles/release/AndroidManifest.xml
library/build/intermediates/bundles/release/classes.jar
library/build/intermediates/bundles/release/R.txt
library/build/intermediates/bundles/release/res/color/vpi__dark_theme.xml
library/build/intermediates/bundles/release/res/color/vpi__light_theme.xml
library/build/intermediates/bundles/release/res/drawable/vpi__tab_indicator.xml
library/build/intermediates/bundles/release/res/drawable-hdpi-v4/vpi__tab_selected_focused_holo.9.png
library/build/intermediates/bundles/release/res/drawable-hdpi-v4/vpi__tab_selected_holo.9.png
library/build/intermediates/bundles/release/res/drawable-hdpi-v4/vpi__tab_selected_pressed_holo.9.png
library/build/intermediates/bundles/release/res/drawable-hdpi-v4/vpi__tab_unselected_focused_holo.9.png
library/build/intermediates/bundles/release/res/drawable-hdpi-v4/vpi__tab_unselected_holo.9.png
library/build/intermediates/bundles/release/res/drawable-hdpi-v4/vpi__tab_unselected_pressed_holo.9.png
library/build/intermediates/bundles/release/res/drawable-mdpi-v4/vpi__tab_selected_focused_holo.9.png
library/build/intermediates/bundles/release/res/drawable-mdpi-v4/vpi__tab_selected_holo.9.png
library/build/intermediates/bundles/release/res/drawable-mdpi-v4/vpi__tab_selected_pressed_holo.9.png
library/build/intermediates/bundles/release/res/drawable-mdpi-v4/vpi__tab_unselected_focused_holo.9.png
library/build/intermediates/bundles/release/res/drawable-mdpi-v4/vpi__tab_unselected_holo.9.png
library/build/intermediates/bundles/release/res/drawable-mdpi-v4/vpi__tab_unselected_pressed_holo.9.png
library/build/intermediates/bundles/release/res/drawable-xhdpi-v4/vpi__tab_selected_focused_holo.9.png
library/build/intermediates/bundles/release/res/drawable-xhdpi-v4/vpi__tab_selected_holo.9.png
library/build/intermediates/bundles/release/res/drawable-xhdpi-v4/vpi__tab_selected_pressed_holo.9.png
library/build/intermediates/bundles/release/res/drawable-xhdpi-v4/vpi__tab_unselected_focused_holo.9.png
library/build/intermediates/bundles/release/res/drawable-xhdpi-v4/vpi__tab_unselected_holo.9.png
library/build/intermediates/bundles/release/res/drawable-xhdpi-v4/vpi__tab_unselected_pressed_holo.9.png
library/build/intermediates/bundles/release/res/values/values.xml
library/build/intermediates/incremental/aidl/release/dependency.store
library/build/intermediates/incremental/mergeAssets/release/merger.xml
library/build/intermediates/incremental/packageResources/release/merger.xml
library/build/intermediates/javaResources/release/color/vpi__dark_theme.xml
library/build/intermediates/javaResources/release/color/vpi__light_theme.xml
library/build/intermediates/javaResources/release/drawable/vpi__tab_indicator.xml
library/build/intermediates/javaResources/release/drawable-hdpi/vpi__tab_selected_focused_holo.9.png
library/build/intermediates/javaResources/release/drawable-hdpi/vpi__tab_selected_holo.9.png
library/build/intermediates/javaResources/release/drawable-hdpi/vpi__tab_selected_pressed_holo.9.png
library/build/intermediates/javaResources/release/drawable-hdpi/vpi__tab_unselected_focused_holo.9.png
library/build/intermediates/javaResources/release/drawable-hdpi/vpi__tab_unselected_holo.9.png
library/build/intermediates/javaResources/release/drawable-hdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/intermediates/javaResources/release/drawable-mdpi/vpi__tab_selected_focused_holo.9.png
library/build/intermediates/javaResources/release/drawable-mdpi/vpi__tab_selected_holo.9.png
library/build/intermediates/javaResources/release/drawable-mdpi/vpi__tab_selected_pressed_holo.9.png
library/build/intermediates/javaResources/release/drawable-mdpi/vpi__tab_unselected_focused_holo.9.png
library/build/intermediates/javaResources/release/drawable-mdpi/vpi__tab_unselected_holo.9.png
library/build/intermediates/javaResources/release/drawable-mdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/intermediates/javaResources/release/drawable-xhdpi/vpi__tab_selected_focused_holo.9.png
library/build/intermediates/javaResources/release/drawable-xhdpi/vpi__tab_selected_holo.9.png
library/build/intermediates/javaResources/release/drawable-xhdpi/vpi__tab_selected_pressed_holo.9.png
library/build/intermediates/javaResources/release/drawable-xhdpi/vpi__tab_unselected_focused_holo.9.png
library/build/intermediates/javaResources/release/drawable-xhdpi/vpi__tab_unselected_holo.9.png
library/build/intermediates/javaResources/release/drawable-xhdpi/vpi__tab_unselected_pressed_holo.9.png
library/build/intermediates/javaResources/release/values/vpi__attrs.xml
library/build/intermediates/javaResources/release/values/vpi__colors.xml
library/build/intermediates/javaResources/release/values/vpi__defaults.xml
library/build/intermediates/javaResources/release/values/vpi__styles.xml
library/build/outputs/aar/library.aar
